<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Posts  >  {{ heading }}
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <form @submit.prevent="savePost">
                        <div class="shadow sm:rounded-md sm:overflow-hidden">
                            <div class="px-4 py-5 bg-white space-y-6 sm:p-6">

                                <div>
                                    <label for="title" class="block text-sm font-medium text-gray-700">
                                        Title
                                    </label>
                                    <div class="mt-1">
                                        <jet-input v-model="form.title" type="text" name="title" id="title" autocomplete="title" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"/>
                                        <jet-input-error :message="form.errors.title" class="mt-2" />
                                    </div>
                                </div>

                                <div>
                                    <label for="content" class="block text-sm font-medium text-gray-700">
                                        Content
                                    </label>
                                    <div class="mt-1">
                                        <textarea v-model="form.content" id="content" name="content" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" placeholder="Write your content.."></textarea>
                                        <jet-input-error :message="form.errors.content" class="mt-2" />
                                    </div>
                                </div>

                            </div>
                            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">

                                <jet-action-message :on="form.recentlySuccessful"
                                class="mr-3">
                                    <span v-if="edit">Updated.</span>
                                    <span v-else>Saved.</span>
                                </jet-action-message>
                                
                                <button type="button" v-on:click="cancelPost" class="inline-flex justify-center py-2 px-4 mx-3 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-400 hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Cancel
                                </button>
                                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Save
                                </button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout';
    import JetActionMessage from "@/Jetstream/ActionMessage";
    import JetInput from '@/Jetstream/Input'
    import JetInputError from "@/Jetstream/InputError";

    export default {
      components: {
        AppLayout,
        JetActionMessage,
        JetInputError,
        JetInput
      },
      props: {
        edit: Boolean,
        post: Object,
        heading: {
          type: [String],
          required: true
        }
      },
      data () {
        return {
          form: this.$inertia.form({
            title: '',
            content: '',
          }),
        }
      },
      methods: {
        savePost () {
          this.edit ? 
          this.form.put(route('posts.update',{id: this.post.data.id}), {
            onSuccess: () => {
              this.form.reset()
            }
          }) :
          this.form.post(route('posts.store'), {
            onSuccess: () => {
              this.form.reset()
            },
          })
        },
        cancelPost () {
          window.location.href = '/dashboard/posts'
        }
      },
      mounted () {
        if (this.edit === true) {
          this.form.title = this.post.data.title
          this.form.content = this.post.data.content
        }
      }
    }
</script>